PRIVATE_KEY=your_private_key_here

# Mainnet RPCs
ETHEREUM_RPC_URL=https://ethereum-rpc.publicnode.com
POLYGON_RPC_URL=https://polygon-mainnet.g.alchemy.com/v2/YOUR_ALCHEMY_KEY
ARBITRUM_RPC_URL=https://arbitrum-one-rpc.publicnode.com
OPTIMISM_RPC_URL=https://optimism-rpc.publicnode.com
BASE_RPC_URL=https://base-rpc.publicnode.com
SCROLL_RPC_URL=https://scroll-rpc.publicnode.com
LINEA_RPC_URL=https://linea-rpc.publicnode.com
SOPHON_RPC_URL=https://rpc.sophon.xyz
AVALANCHE_RPC_URL=https://avalanche-c-chain-rpc.publicnode.com
HYPERLIQUID_RPC_URL=https://rpc.hyperliquid.xyz/evm
KAIA_RPC_URL=https://rpc.ankr.com/kaia
BNB_RPC_URL=https://bsc-mainnet.public.blastapi.io
MONAD_MAINNET_RPC_URL=https://monad-mainnet.drpc.org
MEGA_ETH_RPC_URL=https://mainnet.megaeth.com/rpc

# Testnet RPCs
SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
ARB_SEPOLIA_RPC_URL=https://sepolia-rollup.arbitrum.io/rpc
OP_SEPOLIA_RPC_URL=https://sepolia.optimism.io
BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
POLYGON_AMOY_RPC_URL=https://polygon-amoy-rpc.publicnode.com
HOLESKY_RPC_URL=https://ethereum-holesky-rpc.publicnode.com
MONAD_TESTNET_RPC_URL=https://testnet-rpc.monad.xyz
CITREA_TESTNET_RPC_URL=https://rpc.testnet.citrea.xyz

# API Keys (optional)
COINMARKETCAP_API_KEY=
ETHERSCAN_API_KEY=
POLYGONSCAN_API_KEY=
ARBISCAN_API_KEY=
OPTIMISTIC_ETHERSCAN_API_KEY=
BASESCAN_API_KEY=
