node_modules
.env

# Hardhat files (legacy)
/cache
/artifacts

# TypeChain files (legacy)
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# Foundry files
/out
/cache_forge
broadcast/

# In-Dev fuelVM
fuelVM/vault/tests

# OS files
.DS_Store
